@font-face {
  font-family: "MuseoSansCyrl-300";

  src: url("../fonts/MuseoSansCyrl0.woff") format("woff"),
    url("../fonts/MuseoSansCyrl0.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSansCyrl-500";

  src: url("../fonts/MuseoSansCyrl1.woff") format("woff"),
    url("../fonts/MuseoSansCyrl1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSansCyrl-700";

  src: url("../fonts/MuseoSansCyrl2.woff") format("woff"),
    url("../fonts/MuseoSansCyrl2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSansCyrl-900";

  src: url("../fonts/MuseoSansCyrl3.woff") format("woff"),
    url("../fonts/MuseoSansCyrl3.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}